<header class="navbar navbar-fixed-top navbar-inverse">
<%= render 'layouts/shim' %>
	<div class='container'>
	<%= link_to "DLEN||CHILL", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "HOME", root_path %></li>
				<li><%= link_to "HELP", help_path %></li>
				<li><%= link_to "LOGIN", "#" %></li>
			</ul>
		</nav>
	</div>
</header>